.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #8ee547;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #1ad6e4;
}

.image {
  width: 20%;
  height: 20%;
}

.inp {
  height: 30px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
}

.btn {
  height: 40px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  width: 100px;
  background-color: #f1ad19;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}